<?xml version="1.0"?>
<robot name="paxi_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

     <xacro:property name = "imu_hover_ixx" value = "0.00046875"/>
     <xacro:property name = "imu_hover_ixy" value = "0.0"/>
     <xacro:property name = "imu_hover_ixz" value = "0.0"/>
     <xacro:property name = "imu_hover_iyx" value = "0.0"/>
     <xacro:property name = "imu_hover_iyy" value = "0.0020437499999999996"/>
     <xacro:property name = "imu_hover_iyz" value = "0.0"/>
     <xacro:property name = "imu_hover_izx" value = "0.0"/>
     <xacro:property name = "imu_hover_izy" value = "0.0"/>
     <xacro:property name = "imu_hover_izz" value = "0.002175"/>

     <xacro:property name = "imu_hover_mass" value = "0.0001"/>

     <xacro:macro name="imu_hover_inertial">
        <inertial>
            <mass value="${imu_hover_mass}"/>
            <inertia    ixx="${imu_hover_mass*imu_hover_ixx}"  ixy="${imu_hover_mass*imu_hover_ixy}"  ixz="${imu_hover_mass*imu_hover_ixz}"
                                                               iyy="${imu_hover_mass*imu_hover_iyy}"  iyz="${imu_hover_mass*imu_hover_iyz}"
                                                               izz="${imu_hover_mass*imu_hover_izz}" />
<!--            <inertia    ixx="${imu_hover_mass*imu_hover_ixx}"  ixy="${imu_hover_mass*imu_hover_ixy}"  ixz="${imu_hover_mass*imu_hover_ixz}"
                        iyx="${imu_hover_mass*imu_hover_iyx}"  iyy="${imu_hover_mass*imu_hover_iyy}"  iyz="${imu_hover_mass*imu_hover_iyz}"
                        izx="${imu_hover_mass*imu_hover_izx}"  izy="${imu_hover_mass*imu_hover_izy}"  izz="${imu_hover_mass*imu_hover_izz}" /> -->
        </inertial>
     </xacro:macro>

</robot>
 