<?xml version="1.0"?>
<robot name="paxi_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

     <xacro:property name = "imu_hover_ixx" value = 0.0>
     <xacro:property name = "imu_hover_ixy" value = 0.0>
     <xacro:property name = "imu_hover_ixz" value = 0.0>
     <xacro:property name = "imu_hover_iyx" value = 0.0>
     <xacro:property name = "imu_hover_iyy" value = 0.0>
     <xacro:property name = "imu_hover_iyz" value = 0.0>
     <xacro:property name = "imu_hover_izx" value = 0.0>
     <xacro:property name = "imu_hover_izy" value = 0.0>
     <xacro:property name = "imu_hover_izz" value = 0.0>

     <xacro:property name = "imu_hover_mass" value = 0.01>

     <xacro:macro name="imu_hover_inertial">
        <inertial>
            <mass value="${imu_hover_mass}" />
            <inertia    ixx="${imu_mass}{imu_hover_ixx}"   iyz="${imu_mass}{imu_hover_ixy}"  izx="${imu_mass}{imu_hover_izx}" 
                        ixy="${imu_mass}{imu_hover_iyy}"   iyy="${imu_mass}{imu_hover_iyy}"  izy="${imu_mass}{imu_hover_izy}" 
                        ixz="${imu_mass}{imu_hover_iyy}"   iyz="${imu_mass}{imu_hover_iyz}"  izz="${imu_mass}{imu_hover_izz}"  />
        </inertial>
     </xacro:macro>

</robot>
 