<?xml version="1.0"?>
<robot name="paxi_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:property name="imu_slamtec_joint_name" value="imu_slamtec_joint"/>
    <xacro:property name="imu_slamtec_link_name" value="imu"/>

    <xacro:property name="imu_slamtec_width" value="0.0488"/>
    <xacro:property name="imu_slamtec_length" value="0.0538"/>
    <xacro:property name="imu_slamtec_height" value="0.0252"/>

    <!-- should be "inside base box"; -->

    <xacro:property name="imu_slamtec_joint_offset_x" value="0.0"/>
    <xacro:property name="imu_slamtec_joint_offset_y" value="0.3"/>
    <xacro:property name="imu_slamtec_joint_offset_z" value="${base_height}"/>
</robot>
 