<?xml version="1.0"?>
<robot name="paxi_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="baud_rate" value="115200"/>
    <xacro:property name="serial_port" value="/dev/ttyUSB0"/>

    <xacro:property name="wheel_separation" value="0.53"/>
    <xacro:property name="max_velocity" value="100"/>

    <xacro:property name="base_width" value="0.46"/>
    <xacro:property name="base_length" value="0.175"/>
    <xacro:property name="base_height" value="0.05"/>


    <xacro:property name="base_box_width" value="0.3302"/>
    <xacro:property name="base_box_length" value="0.4953"/>
    <xacro:property name="base_box_height" value="0.2286"/>

    <!-- tan^-1(2 / 48) -->
    <xacro:property name ="base_box_angle" value="${math.atan2(2, 48)}"/>

    <xacro:property name="base_box_joint_offset_x" value="0.14"/>
    <xacro:property name="base_box_joint_offset_y" value="0.0"/>
    <xacro:property name="base_box_joint_offset_z" value="${base_height/2 + base_box_height/2}"/>
</robot>
 <!-- 
 41.6 - 16.51
 43.1 - 16.51
 y            x           z
 19.5 inch * 9 inch * 22 inch box dimensions
 49.35 cm  * 33.02 cm box * 55.88cm

 hoveboard wideth

 0.0648
 -->